@import '../utils/_mixins';

.get-start {
    margin-block: 100px;

    &__inner {
        margin-inline: auto;
        width: 100%;
        height: 100%;
        max-width: 1320px;
        height: 503px;
        background: url('/assets/get-start/get-start-bg.png') center/contain no-repeat;
        background-size: cover;
        border-radius: 20px;
        // border: 1px solid black;

        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        @include large-desktop {
            margin-right: 30px;
            width: 100%;
            height: auto;
            }

            @include desktop {
            margin-right: 20px;
            width: 100%;
            height: auto;
        }

        @include tablet-landscape {
            margin-right: 20px;
            width: 100%;
            height: auto;
            gap: 40px;
            flex-direction: column;
        }

        @include small {
            margin-right: 10px;
            width: 100%;
            height: auto;
        }
    }

    &__wrapper-text {
        padding-top: 111px;
        padding-left: 60px;
        flex:1;

         @include large-desktop {
            padding-top: 80px;
            padding-left: 30px;
            width: 100%;
            }

             @include desktop {
            padding-top: 60px;
            padding-bottom: 30px;
            padding-left: 20px;
             }

             @include small {
                padding-left: 10px;
                padding-top: 60px;
                padding-bottom: 60px;
             }
    }

    &__title {
        max-width: 344px;

        @include large-desktop {
            width: 100%;
        }

        @include desktop {
            width: 100%;
        }

        @include tablet-landscape {
            max-width: 700px;
            display: flex;
            justify-content: center;
        }
        @include tablet-portrait {
            max-width: 90vw;
        }

        @include small {
            max-width: 90vw;

        }
    }

      &__wrapper-image {
        flex:1;
        display: flex;
        align-items: end;
        margin-right: 66px;

        // @include hd-desktop {
       
//         }

//         @include very-large-desktop {
          
//         }

        @include large-desktop {
            margin-inline: 30px;
            }

        @include desktop {
           margin-inline: 20px;
        }

         @include tablet-landscape {
            margin-inline: auto;
            width: 600px;
            height: auto;
          
        }

         @include tablet-portrait {
           display: none; 
           margin-inline:20px;
        }

       @include small {
             display: none;
             margin-inline:10px;
        }

    }

    &__text {
        margin-top: 10px;
        max-width: 513px;

        @include large-desktop {
            max-width: 100vw;
           width: 100%;
        }

        @include tablet-landscape {
            max-width: 90vw;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        @include tablet-portrait {
            margin-top: 20px;
            max-width: 513px;
            display: flex;
            justify-content: center;
        }

         @include tablet-portrait {
            max-width: 90vw;
        }

        @include small {
            margin-top: 20px;
            max-width: 90vw;
            display: flex;
            justify-content: center;
        }
    }

    &__wrapper-button {

        @include hd-desktop {
       
        }

        @include very-large-desktop {
          
        }

        @include large-desktop {
           
            }

        @include desktop {
           margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        @include tablet-landscape {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        @include tablet-portrait {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        @include small {
            display: flex;
            justify-content: center;
             margin-top: 30px;
        }

        }

    &__button {
    width: 259px;
    height: 69px;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    margin-top: 20px;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
    }
    }

    &__button-orange {
    background: var(--accent-color-1);
    color: #fff;

    &:hover {
        &:before {
        background: linear-gradient(to bottom, var(--accent-color-1-hover), var(--accent-color-1));
        transform: translateY(100%);
        }
    }
    }
}