// src/styles/utils/_variables.scss
:root{
--primary-color:  #242f65;
--secondary-color: #FFFFFF;
--accent-color-1: #FF774C;
--accent-color-1-hover: #f9cec1;
--accent-color-2: #7390F9;
--accent-color-2-hover: #c5d0fa;
--accent-color-2: #7390F9;
--color-text:  #525665;
--color-menu: #222222;

--font-family-base: Fraunces, serif;
--font-family: "Mulish", sans-serif;
--font-size-base: 20px;
--background-color: #2A2C32;
}
